############################################################################
# GitHub
############################################################################

*docs/** linguist-documentation
*docs/** linguist-vendored
*docs/** linguist-generated

############################################################################
# Default
############################################################################

* text=auto eol=lf

############################################################################
# Source
############################################################################

*.c      text
*.cpp    text
*.cc     text
*.h      text
*.hpp    text
*.hh     text
*.inl    text
*.ixx    text

############################################################################
# Qt
############################################################################

*.pro    text
*.pri    text
*.qml    text
*.qrc    text
*.ui     text
*.ts     text

############################################################################
# Build
############################################################################

CMakeLists.txt text
*.cmake text

############################################################################
# Config
############################################################################

*.json text
*.yaml text
*.yml text
*.xml text
*.toml text
*.ini text

###############################################################################
# Documentation
###############################################################################

*.md text

############################################################################
# Scripts
############################################################################

*.py  text eol=lf
*.sh  text eol=lf
*.bat text eol=crlf
*.ps1 text eol=crlf

############################################################################
# Binary
############################################################################

*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.bmp binary
*.gif binary
*.ttf binary
*.otf binary
*.zip binary
*.7z binary
*.dll binary
*.so binary
*.a binary
*.lib binary
